#main-nav {
    font-family: sans-serif;
}

#full-nav {
    background-color: #2a2a2a;
}

body {
    background-image: url('./assets/images/background.jpg');
}

#full-foot {
    background-color: #2a2a2a;
    height: 60px;
}